<!DOCTYPE html>
<head>
	<title>Product App</title>
	<!-- <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css"> -->
	<link rel="stylesheet" href="/stylesheet/app.css">
	<link rel="stylesheet" href="/partials/header.css">
</head>
<body>
	
	<div class="header-container">
		<div id="website-details-container">
			<div id="logo-container" >
				<img id="logo" src="/partials/logo.png" alt="logo" />
			</div>
			<div id="website-name">Window Shopping</div>
		</div>
		<div><a href ="/" class="item">Home</a><a href ="/products/new" class="item">New</a><a href="/products/about" class="item">About</a></div>
	</div>
	<div class="spacer">
		&nbsp;
	</div>




